<div class="convs-matchs-container">

  <div class="logo-conv" style="position: relative; display: flex; justify-content: center;">
    <%= image_tag("Logo.png", style: "width: 130x; height: 65px; margin-top: 3%; margin-bottom: 6%") %>
  </div>

  <div class="matchs-container">

    <div class="convs-et-matchs <%= 'hidden' if @matches_without_messages.empty? %>">
      <h1>Matchs</h1>
    </div>

    <div class="conv-match-cards">
      <div class="conv-match-card">
          <% @matches_without_messages.each do |match| %>
              <%= link_to match_path(match), class: 'conv-card-link' do %>

                <div>
                  <%= cl_image_tag(match.pet.photos.sample.key, gravity: "face", crop: "fit") %>
                  <h3><%= match.pet.name %></h3>
                </div>
              <% end %>
          <% end %>
      </div>
    </div>

  </div>

  <div class="convs-container">

    <div class="convs-et-matchs">
      <h1>Messages</h1>
    </div>

    <div class="conv-cards">

      <% @matches_with_messages.each do |match| %>
          <%= link_to match_path(match), class: 'conv-card-link' do %>
            <div class="conv-card">

              <div class="conv-card-img">
                <% if current_user.shelter_id? %>
                  <% if @user.photo.key.nil? %>
                    <%= image_tag 'https://res.cloudinary.com/dx9ps8yom/image/upload/v1733394367/profil_chien_gap7vc.jpg', height: 145, width: 145, crop: :fill %>
                  <% else %>
                    <%= cl_image_tag @user.photo.key, height: 145, width: 145, crop: :fill %>
                  <% end %>
                <% else %>
                  <%= cl_image_tag(match.pet.photos.first.key, class: 'messages-avatar') %>
                <% end %>
              </div>

              <div class="conv-card-infos">
                <% if current_user.shelter_id? %>
                  <h2><%= match.user.name %> pour : <%= match.pet.name %></h2>
                <% else %>
                  <h2><%= match.pet.name %></h2>
                <% end %>

                <p><%= match.pet.shelter.name %></p>
              </div>

              <div class="conv-card-date">
                <p><%= match.created_at.to_time.strftime("%-d %B") %></p>
              </div>

            </div>
          <% end %>
      <% end %>

    </div>

  </div>
</div>

<div class="menu-navbar">
  <div class="menu-spark">
    <%= render 'shared/navbar', user: @user %>
  </div>
</div>
