<div class="convs-matchs-container">

  <div class="logo-conv" style="position: relative; display: flex; justify-content: center;">
    <%= image_tag("Logo.png", style: "width: 200px; height: 100px;") %>
  </div>

  <div class="matchs-container">

    <div class="convs-et-matchs <%= 'hidden' if @matches_without_messages.empty? %>">
      <h1>Matchs</h1>
    </div>

    <div class="conv-match-cards">
      <div class="conv-match-card">
          <% @matches_without_messages.each do |match| %>
              <%= link_to match_path(match), class: 'conv-card-link' do %>

                <div>
                  <%= cl_image_tag(match.pet.photos.sample.key, gravity: "face", crop: "fill") %>
                  <h3><%= match.pet.name %></h3>
                </div>
              <% end %>
          <% end %>
      </div>
    </div>

  </div>

  <div class="convs-container">

    <div class="convs-et-matchs">
      <h1>Messages</h1>
    </div>

    <div class="conv-cards">

      <% @matches_with_messages.each do |match| %>
          <%= link_to match_path(match), class: 'conv-card-link' do %>
            <div class="conv-card">

              <div class="conv-card-img">
                <%= cl_image_tag(match.pet.photos.first.key, class: 'messages-avatar') %>
              </div>

              <div class="conv-card-infos">
                <h2><%= match.pet.name %></h2>
                <p><%= match.pet.shelter.name %></p>
              </div>

              <div class="conv-card-date">
                <p><%= match.created_at.to_time.strftime("%-d %B") %></p>
              </div>

            </div>
          <% end %>
      <% end %>

    </div>

  </div>
</div>

<div class="menu-navbar">
  <div class="menu-spark">
    <%= render 'shared/navbar', user: @user %>
  </div>
</div>
