<div class="container-chat">
  <div class="chat-content">
    <div class="header-chat">

      <div>
        <%= link_to matchs_path, class: "icon-link-chevron" do %>
          <i class="fa-solid fa-chevron-left"></i>
        <% end %>
      </div>

      <div class="header-chat-photo">
        <%= cl_image_tag(@match.pet.photos.first.key, gravity: "face", crop: "fill")%>
      </div>

      <div class="header-chat-infos">
        <h1><%= @match.pet.name %></h1>
        <h2><%= @match.pet.shelter.name %></h2>
      </div>

    </div>

    <%= turbo_stream_from "matchs_#{@conversation.id}_messages" %>
    <div id="chat-messages" class="chat-messages" style="display: flex">
      <% @messages.each do |message| %>
        <%= render 'shared/navbar' %>
      <% end %>
    </div>
  </div>

  <%= simple_form_for [@match, @conversation, @message],
    html: { class: "footer-chat-message", style: "padding-left: 0px;", id: "chat-form",
    data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset"}} do |f| %>

    <%= f.input :content,
      label: false,
      placeholder: "Message ...",
      input_html: { class: "chat-message", id: "message-input" } %>

    <button type="submit" class="send-chat-button">
      <i class="fa-solid fa-paper-plane"></i>
    </button>
  <% end %>


  <script>
  document.addEventListener('turbo:load', function() {
    const input = document.getElementById('message-input');
    const form = document.getElementById('chat-form');

    // Donne le focus à l'input dès le chargement de la page
    input.focus();

    input.addEventListener('keydown', function(event) {
      if (event.key === 'Enter' && !event.shiftKey) {
        event.preventDefault();
        form.submit();
      }
    });
  });
  </script>
  
  <div class="booking-composant">
    <% @match.appointments.each do |appointment| %>
      <div class="booking-card-profile">
        <div class="interior-card-profile">
          <div class="logoprofil-booking fa-regular fa-calendar-check fa-4x" style="color: #ffffff;"></div>
          <div class="text-profile">
            <h3><%= appointment.shelter.name %></h3>
            <h4><%= I18n.l(appointment.date, format: '%A %d %b à %Hh', locale: :en) %></h4>
          </div>
        </div>
        <%= button_to 'Annuler', match_appointment_path(@match, appointment),
        method: :delete, data: { turbo_confirm: 'Êtes-vous sûr de vouloir annuler ce rendez-vous ?' },
        class: 'main-btn-small-profile' %>
      </div>
    <% end %>
  </div>

  <% if current_user.shelter_id.present? %>
    <div>
      <%= link_to 'New Appointment', new_match_appointment_path(@match) %>
    </div>
  <% end %>

  <div>
      <%= link_to 'Matchs', matchs_path %>
  </div>

</div>
