<div class="card-match">
  <div data-controller="swipe" class="card-match">
    <div class="cards-container d-flex flex-wrap justify-content-center">
      <% @pets.each_with_index do |pet, index| %>
        <div class="card-body-pets border border-2 m-5 <%= index == 0 ? 'd-block' : 'd-none' %>"
          data-swipe-target="card"
          style="width: 315px; height: 668px; display: flex; background-image: url(<%= pet.photos.empty? ?
        'https://www.photo-montier.org/wp-content/themes/ktheme-v2.1-Montier/images/slider-homepage/2024-1/640x628/slide-mobile.jpg' : pet.photos.first.url %> ) "
          id="card-<%= index %>">
          <h1 class="card-title-pets"><%= pet.name %></h1>
          <p class="card-title-pets"><%= pet.shelter.name %></p>
          <%= link_to 'Voir plus' , pet_path(pet), class: 'btn btn-primary'%>

            <!-- Boutons de navigation -->
            <div class="navigation-buttons" style="  display: flex; gap: 20px; margin-top: 460px; flex-direction: row ; justify-content: center;">
              <button data-action="click->swipe#notInterested" class="btn btn-secondary">Non interessé</button>
              <%= button_to "Matcher" , create_match_path(pet_id: pet.id), method: :post, class: "btn btn-primary" ,
                data: { action: "click->swipe#interested" }%>
            </div>
        </div>
      </div>
      <% end %>

      <!-- Modale -->
        <div data-controller="swipe">
          <div class="modal" data-swipe-target="modal">
                <img src="https://res.cloudinary.com/dsdxs3b1q/image/upload/Design_sans_titre_hvvylt.svg" style="width: 115px ; padding-top: 300px" alt="spark">
              <h2>It's a Spark!</h2>
              <p>Démarrez une conversation avec le refuge!</p>
               <%= link_to 'Messages', click_message_matchs_path, class: 'back-btn' %>
              <button class="main-btn" data-action="click->swipe#hideModal">Swiper</button>
          </div>
        </div>
  </div>
</div>
