<div class="card-match">
  <div style="position: relative; display: flex; justify-content: center;">
  <%= image_tag("Logo.png", style: "width: 175px ; height: 80px; margin-top: 15px ") %>
  </div>
  <div data-controller="swipe">
    <div class="cards-container d-flex flex-wrap justify-content-center">
      <% @pets.each_with_index do |pet, index| %>
        <%= link_to pet_path(pet) do %>
          <div class="card-body-pets" <%= index == 0 ? 'd-flex' : 'd-none' %>"
            data-swipe-target="card"
            style="width: 340px; height: 668px; background-image: url(<%= pet.photos.empty? ?
            'https://www.photo-montier.org/wp-content/themes/ktheme-v2.1-Montier/images/slider-homepage/2024-1/640x628/slide-mobile.jpg' : pet.photos.first.url %> )"
            id="card-<%= index %>"
            data-petid="<%= pet.id %>">

              <div id="littleflex">
                <h1 id="h1-pets"><%= pet.name %></h1>
                <p  id="p-pets"><%= pet.shelter.name %></p>
              </div>

            <!-- Boutons de navigation -->
              <div class="navigation-buttons">
                <button data-action="click->swipe#notInterested" class="btn-notinter"><img src ="https://res.cloudinary.com/dsdxs3b1q/image/upload/1_kv0lms.png" id="notinter" width="100px" height="100px"></button>
                <%= button_to matchs_path(pet_id: pet.id),
                method: :post,
                class: "btn-inter",
                data: { action: "click->swipe#interested" } do %>  <!-- Bouton d'intérêt -->
                <img src="https://res.cloudinary.com/dsdxs3b1q/image/upload/2_p6ceoh.png" id="inter" class="card-match-img" width="100" height="100" alt="Matcher">
                <% end %> <!-- Fin du bouton d'intérêt -->
              </div>
          </div>
      <% end %>

          <!-- Modale -->
          <div id="sparkModal" class="modal d-none page-notification" data-swipe-target="modal">
            <div id="imagesgridnotif">
            <%=cl_image_tag @user.photo.key, height: 145, width: 145, crop: :fill %>
            <%=cl_image_tag pet.photos.first.key, height: 145, width: 145, crop: :fill %>
            <img src= "https://res.cloudinary.com/dsdxs3b1q/image/upload/2_p6ceoh.png">
            </div>
            <div>
              <h2>It's a Spark!</h2>
              <p>Démarrez une conversation avec le refuge!</p>
              <button class="main-btn" data-action="click->swipe#hideModal">Swiper</button>
              <%= link_to 'Messages', click_message_matchs_path, class: 'back-btn' %>
            </div>
          </div>

      <% end %>

      <div class="menu-spark">s

        <%= link_to matchs_path do %>
          <i class="fa-solid fa-comment fa-2x"></i>
        <% end %>

        <a href="">
          <i class="fa-solid fa-house fa-2x"></i>
        </a>

        <a href="">
          <i class="fa-solid fa-user fa-2x"> </i>
        </a>
      </div>
    </div>
  </div>
</div>
