<div class="show-profils-user-pet">
  <div class="pet-banner">

    <div style="position: absolute; top: 40px; left: 40px; z-index: 10;">
      <h1 style="text-align: left !important"> <%= @pet.name.capitalize %> , <%= @pet.age %> ans</h1>
      <p style="text-align: left !important"> <%= @pet.shelter.name %> </p>
    </div>

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <% @pet.photos.each_with_index do |photo, index| %>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="<%= index %>" class="<%= 'active' if index == 0 %>" aria-current="<%= 'true' if index == 0 %>" aria-label="Slide <%= index + 1 %>"></button>
        <% end %>
      </div>
      <div class="carousel-inner">
        <% @pet.photos.each_with_index do |photo, index| %>
          <div class="carousel-item <%= 'active' if index == 0 %>">
            <%= cl_image_tag(photo.key, class: 'd-block w-100 img-fluid', alt: @pet.specie) %>
          </div>
        <% end %>
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

  <div class="pet-info show-profils-user-pet-card"style=" position: absolute; bottom: -118%; left: 0; right: 0;  z-index: 20; padding: 24px; padding-top: 25px">


    <div class="wrapper-pet">
      <div class="etiquettes-details"><%=@pet.category.capitalize%></div>
      <div class="etiquettes-details"><%=@pet.specie.name.capitalize%></div>
      <div class="etiquettes-details"><%=@pet.gender.capitalize%></div>
      <div class="etiquettes-details"><%= @pet.ok_cat? ? 'Ok chat' : 'Non chat' %></div>
      <div class="etiquettes-details"><%= @pet.ok_dog? ? 'Ok chien' : 'Non chien' %></div>
      <div class="etiquettes-details"><%= @pet.ok_kid? ? 'Ok enfant' : 'Non enfant' %></div>
    </div>

    <div class="pet-description">
      <p style="margin-bottom: 12%"><%=@pet.description%></p>
      <h2>Description</h2>

      <ul style="margin-bottom: 12%">
        <li><%= @pet.affectionate? ? 'Affecteux' : '' %></li>
        <li><%=@pet.behavior.capitalize%></li>
        <li><%=@pet.size.capitalize%></li>
        <li><%=@pet.needs.capitalize%></li>
        <li><%=@pet.environment.capitalize%></li>
      </ul>


    </div>

    <div class="pet-race">
      <h2>La race : <%=@pet.specie.name.capitalize%></h2>
      <p style="margin-bottom: 17%"><%=@pet.specie.description.capitalize%></p>
    </div>

    <div style="display: flex; margin-bottom: 8%">
      <%= link_to "Retour", request.referer || root_path, class: 'back-btn' %>
    </div>

  </div>
</div>
