<div class="profil-user">

  <div class="rounded-yellow-header">

  </div >

  <div class="profile-user-photo-div-spe">
        <div class= "profil-user-avatar" >
          <% if @user.photo.key.nil? %>
          <%= image_tag 'https://res.cloudinary.com/dx9ps8yom/image/upload/v1733394367/profil_chien_gap7vc.jpg', class: "profil-user-avatar" %>
        <% else %>
          <%= cl_image_tag @user.photo.key, class: "profil-user-avatar" %>
        <% end %>
        </div>
  </div>

  <div>
    <h1> <%= @user.name %>, <%= @user.age %> </h1>
     <p><%= @user.address %> </p>
  </div>

  <div class="etiquettes-details-profile-div">
    <div class="etiquettes-details-profile">Chien</div>
    <div class="etiquettes-details-profile">Chat</div>
    <div class="etiquettes-details-profile">NACS</div>
  </div>

  <div>
    <p id="presentation-p"> <%= @user.description %>..</p>
    <p id="presentation-p" style="color: #716e6e"> En savoir plus</p>
  </div>

  <h2>Prochains RDV</h2>

  <div class="booking-composant">
    <% @appointments.each do |appointment| %>
      <div class="booking-card-profile">
        <div class="interior-card-profile">
          <div class="logoprofil-booking fa-regular fa-calendar-check fa-4x" style="color: #ffffff;"></div>
          <div class="text-profile">
            <h3><%= truncate(appointment.shelter.name, length: 22) %></h3>
            <h4><%= I18n.l(appointment.date, format: '%A %d %b à %Hh', locale: :en) %></h4>
          </div>
        </div>
        <%= button_to 'Annuler', match_appointment_path(appointment.match_id, appointment),
        method: :delete, data: { turbo_confirm: 'Êtes-vous sûr de vouloir annuler ce rendez-vous ?' },
        class: 'main-btn-small-profile' %>
      </div>
    <% end %>
  </div>

  <div class="menu-spark">
    <%= render 'shared/navbar', user: @user %>
  </div>
</div>
