<div class="profil-user">

  <div class="rounded-yellow-header">

  </div >

  <div>
        <div class= "profil-user-avatar" >
         <%= cl_image_tag(@user.photo.key, class: "profil-user-avatar") %>
        </div>
     <h1> <%= @user.name %>, <%= @user.age %> </h1>
     <p><%= @user.address %> </p>
  </div>

  <div class="etiquettes-details-profile-div">
    <div class="etiquettes-details-profile">Chien</div>
    <div class="etiquettes-details-profile">Chat</div>
    <div class="etiquettes-details-profile">NACS</div>
  </div>

  <div>
    <p id="presentation-p"> <%= @user.description %>..</p>
    <p id="presentation-p" style="color: #716e6e"> En savoir plus</p>
  </div>

  <h2>Prochains RDV</h2>

  <div class="booking-card-profile">
    <div class="interior-card-profile">
      <div class="logoprofil"><i class="fa-regular fa-calendar-check"></i></div>
      <div class="text-profile">
      <h3>SPA de Toulouse  <%# <%= @user.appointments %></h3>
      <h4>24 juin, 15:00  <%# <%= @user.appointments %></h4>
      </div>
    </div>
    <a class="main-btn-small-profile" href="pets">Annuler</a>
  </div>

  <div class="menu-spark">
   <i class="fa-solid fa-comment"></i>
   <i class="fa-solid fa-house"></i>
   <i class="fa-solid fa-user"> </i>
  </div>
</div>
