<div class="profil-user">

  <div class="rounded-yellow-header">

  </div >

  <div>
    <img src="app/assets/images/labrador_1.jpg" alt="">
     <h1> <%= @user.name %>, <%= @user.age %> </h1>
     <p><%= @user.address %> </p>
  </div>

  <div class="etiquettes-details-profile-div">
    <div class="etiquettes-details-profile">Chien</div>
    <div class="etiquettes-details-profile">Chat</div>
    <div class="etiquettes-details-profile">NACS</div>
  </div>

  <div>
    <p id="presentation-p"> Bonjour! Je m'appelle Aude et je suis une toulousaine de 30 ans...</p>
    <p id="presentation-p" style="color: #716e6e"> En savoir plus</p>
  </div>

  <h2>Prochains RDV</h2>

  <div class="booking-card-profile">
    <div class="interior-card-profile">
      <div class="logoprofil"></div>
      <div class="text-profile">
      <h3>SPA de Toulouse  <%# <%= @user.appointments %></h3>
      <h4>24 juin, 15:00  <%# <%= @user.appointments %></h4>
      </div>
    </div>
    <a class="main-btn-small-profile" href="pets">Annuler</a>
  </div>

  <div class="menu-spark">
   <i class="fa-solid fa-comment"></i>
   <i class="fa-solid fa-house"></i>
   <i class="fa-solid fa-user"> </i>
  </div>
  </div>
</div>
