<div class="formulaire-adoptant">
  <h2>CRÉATION DE PROFIL</h2>
  <h3>À propos de moi</h3>

  <%= simple_form_for @user, url: aboutyou_update_path, method: :patch, local: true do |form| %>
    <h4>Prénom:</h4>
      <%= form.text_area :name, class: "formulaire-adoptant-form-entier" %>
    <h4>Âge:</h4>
      <%= form.number_field :age, class: "formulaire-adoptant-form-entier" %>
    <h4>Genre:</h4>
    <div class="formulaire-adoptant-div">
    <div>
        <%= form.radio_button :gender, "femme", id: "femme" %>
        <%= form.label :gender, "Femme", for: "femme", class: "formulaire-adoptant-design-tier" %>
      </div>
      <div>
        <%= form.radio_button :gender, "homme", id: "homme"%>
        <%= form.label :gender, "Homme", for: "homme", class: "formulaire-adoptant-design-tier" %>
      </div>
      <div>
        <%= form.radio_button :gender, "non-binaire", id: "non-binaire" %>
        <%= form.label :gender, "Non-binaire", for: "non-binaire", class: "formulaire-adoptant-design-tier" %>
      </div>
    </div>
    <h4>Photos:</h4>
     <div>
       <%= form.input :photo, multiple: true, label: false, as: :file, input_html: { class:  'formulaire-adoptant-form-photo'  } %>
     </div>
      <%= form.submit "Suivant", class: "main-btn"%>
      <a class="back-btn" href="tobegin">Retour</a>
  <% end %>
</div>
