<h2>CRÉATION DE PROFIL</h2>
<h3>À propos de moi</h3>
<div>
  <%= form_with model: @user, local: true do |form| %>
    <div>
      <h4>Prénom:</h4>
      <%= f.input :name, input_html: { class: "create-control w-100" } %>
      <h4>Âge:</h4>
      <%= f.input :age, input_html: { class: "create-control w-100" } %>
      <h4>Genre:</h4>
      <%= f.input :gender, input_html: { class: "create-control w-100" } %>
      <h4>Photos:</h4>
      <%= f.input :photo, as: :file, wrapper_html: { class: "col-12" }, input_html: { class: "create-control w-100" } %>
      </div>
      <div>
        <%= f.submit "Suivant", class: "main-btn"%>
        <a class="back-btn" href="tobegin">Retour</a>
      </div>
  <% end %>
</div>
