<div class="formulaire-adoptant" style="height: 53rem">
  <h2>CRÉATION DE PROFIL</h2>
  <h3>Mon projet d’adoption</h3>

    <%= simple_form_for @user, url: adoptionproject_update_path, method: :patch, local: true do |form| %>
        <h4>Raisons de l'adoption:</h4>
        <%= form.text_area :description, class: "formulaire-adoptant-form-input"%>
        <h4>Temps quotidien disponible pour votre animal en heures:</h4>
        <%= form.number_field :time_for_pet, class: "formulaire-adoptant-form-entier"%>
        <h4>Possibilités de sorties quotidiennes:</h4>
        <div class="formulaire-adoptant-form-demi">
          <%= form.radio_button :daily_walk?, "oui", id: "oui" %>
          <%= form.label :choix, "oui", for: "oui" %>
        </div>
        <div class="formulaire-adoptant-form-demi">
          <%= form.radio_button :daily_walk?, "non", id: "non" %>
          <%= form.label :choix, "non", for: "non" %>
        </div>
        <h4>Budget mensuel:</h4>
        <%= form.number_field :pet_budget, class: "formulaire-adoptant-form-entier"%>
          <%= form.submit "Suivant", class: "main-btn"%>
          <a class="back-btn" href="almostdone">Retour</a>
    <% end %>
</div>
