<h2>CRÉATION DE PROFIL</h2>
<h3>Mon projet d’adoption</h3>

<div>
  <%= simple_form_for @users do |f| %>
    <div>
      <h4>Raisons de l'adoption:</h4>
      <%= f.input :description, input_html: { class: "create-control w-100" } %>
      <h4>Temps quotidien disponible pour votre animal:</h4>
      <%= f.input :time_for_pet, input_html: { class: "create-control w-100" } %>
      <h4>Possibilités de sorties quotidiennes:</h4>
      <%= f.input :daily_walk?, input_html: { class: "create-control w-100" } %>
      <h4>Budget mensuel:</h4>
      <%= f.input :pet_budget, input_html: { class: "create-control w-100" } %>
      </div>
      <div>
        <%= f.submit "Envoyer", class: "main-btn"%>
        <a class="back-btn" href="almostdone">Retour</a>
      </div>
  <% end %>
</div>
