<h2>CRÉATION DE PROFIL</h2>
<h3>Mon quotidien et mon environnement</h3>
<div>
  <%= simple_form_for @user, url: daily_update_path, method: :patch, local: true do |form| %>
    <div>
      <h4>Télétravail:</h4>
      <%= form.text_area  :remote_work?, input_html: { class: "create-control w-100" } %>
      <h4>Adresse:</h4>
      <%= form.number_field :address, input_html: { class: "create-control w-100" } %>
      <h4>Espaces verts voisins:</h4>
      <div>
        <%= form.radio_button :green_space, "femme", id: "femme" %>
        <%= form.label :choix, "Femme", for: "femme" %>
      </div>
      <div>
        <%= form.radio_button :green_space , "homme", id: "homme" %>
        <%= form.label :choix, "Homme", for: "homme" %>
      </div>
      <h4>Foyer:</h4>
           <%= form.text_area  :have_children?, input_html: { class: "create-control w-100" } %>
           <%= form.text_area  :household_size, input_html: { class: "create-control w-100" } %>
      <h4>Animaux:</h4>
           <%= form.text_area  :have_cat?, input_html: { class: "create-control w-100" } %>
           <%= form.text_area  :have_dog?, input_html: { class: "create-control w-100" } %>
           <%= form.text_area  :have_other_pets?, input_html: { class: "create-control w-100" } %>
      <h4>Mode de vie:</h4>
           <%= form.text_area  :lifestyle, input_html: { class: "create-control w-100" } %>
    </div>
      <div>
        <%= form.submit "Suivant", class: "main-btn"%>
        <a class="back-btn" href="welldone">Retour</a>
      </div>
  <% end %>
</div>
