<!-- app/views/appointments/new.html.erb -->
<h1>Nouveau Rendez-vous</h1>

<%= form_for [@match, @appointment] do |form| %>
  <div>
    <%= form.label :date, "Choisir une date" %>
    <%= form.text_field :date, id: "appointment_date", data: { controller: "datepicker" } %>
  </div>

  <div>
    <%= form.submit "Créer le rendez-vous" %>
  </div>
<% end %>

<%= link_to "Retour à la liste", pets_path %>
